<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>__notdef.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>OE</key>
  <string>OE__.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>AE</key>
  <string>AE__.glif</string>
  <key>.null</key>
  <string>__null.glif</string>
  <key>CR</key>
  <string>CR__.glif</string>
  <key>A.ss2</key>
  <string>A_.ss2.glif</string>
  <key>A.ss3</key>
  <string>A_.ss3.glif</string>
  <key>A.ss4</key>
  <string>A_.ss4.glif</string>
  <key>A.ss5</key>
  <string>A_.ss5.glif</string>
  <key>B.ss1</key>
  <string>B_.ss1.glif</string>
  <key>B.ss2</key>
  <string>B_.ss2.glif</string>
  <key>B.ss3</key>
  <string>B_.ss3.glif</string>
  <key>B.ss4</key>
  <string>B_.ss4.glif</string>
  <key>B.ss5</key>
  <string>B_.ss5.glif</string>
  <key>C.ss1</key>
  <string>C_.ss1.glif</string>
  <key>C.ss2</key>
  <string>C_.ss2.glif</string>
  <key>C.ss3</key>
  <string>C_.ss3.glif</string>
  <key>C.ss4</key>
  <string>C_.ss4.glif</string>
  <key>C.ss5</key>
  <string>C_.ss5.glif</string>
  <key>Corwin</key>
  <string>Corwin_.glif</string>
  <key>D.ss1</key>
  <string>D_.ss1.glif</string>
  <key>D.ss2</key>
  <string>D_.ss2.glif</string>
  <key>D.ss3</key>
  <string>D_.ss3.glif</string>
  <key>D.ss4</key>
  <string>D_.ss4.glif</string>
  <key>D.ss5</key>
  <string>D_.ss5.glif</string>
  <key>E.ss1</key>
  <string>E_.ss1.glif</string>
  <key>E.ss2</key>
  <string>E_.ss2.glif</string>
  <key>E.ss3</key>
  <string>E_.ss3.glif</string>
  <key>E.ss4</key>
  <string>E_.ss4.glif</string>
  <key>E.ss5</key>
  <string>E_.ss5.glif</string>
  <key>F.ss1</key>
  <string>F_.ss1.glif</string>
  <key>F.ss2</key>
  <string>F_.ss2.glif</string>
  <key>F.ss3</key>
  <string>F_.ss3.glif</string>
  <key>F.ss4</key>
  <string>F_.ss4.glif</string>
  <key>F.ss5</key>
  <string>F_.ss5.glif</string>
  <key>G.ss1</key>
  <string>G_.ss1.glif</string>
  <key>G.ss2</key>
  <string>G_.ss2.glif</string>
  <key>G.ss3</key>
  <string>G_.ss3.glif</string>
  <key>G.ss4</key>
  <string>G_.ss4.glif</string>
  <key>G.ss5</key>
  <string>G_.ss5.glif</string>
  <key>H.ss1</key>
  <string>H_.ss1.glif</string>
  <key>H.ss2</key>
  <string>H_.ss2.glif</string>
  <key>H.ss3</key>
  <string>H_.ss3.glif</string>
  <key>H.ss4</key>
  <string>H_.ss4.glif</string>
  <key>H.ss5</key>
  <string>H_.ss5.glif</string>
  <key>I.ss1</key>
  <string>I_.ss1.glif</string>
  <key>I.ss2</key>
  <string>I_.ss2.glif</string>
  <key>I.ss3</key>
  <string>I_.ss3.glif</string>
  <key>I.ss4</key>
  <string>I_.ss4.glif</string>
  <key>I.ss5</key>
  <string>I_.ss5.glif</string>
  <key>J.ss1</key>
  <string>J_.ss1.glif</string>
  <key>J.ss2</key>
  <string>J_.ss2.glif</string>
  <key>J.ss3</key>
  <string>J_.ss3.glif</string>
  <key>J.ss4</key>
  <string>J_.ss4.glif</string>
  <key>J.ss5</key>
  <string>J_.ss5.glif</string>
  <key>K.ss1</key>
  <string>K_.ss1.glif</string>
  <key>K.ss2</key>
  <string>K_.ss2.glif</string>
  <key>K.ss3</key>
  <string>K_.ss3.glif</string>
  <key>K.ss4</key>
  <string>K_.ss4.glif</string>
  <key>K.ss5</key>
  <string>K_.ss5.glif</string>
  <key>L.ss1</key>
  <string>L_.ss1.glif</string>
  <key>L.ss2</key>
  <string>L_.ss2.glif</string>
  <key>L.ss3</key>
  <string>L_.ss3.glif</string>
  <key>L.ss4</key>
  <string>L_.ss4.glif</string>
  <key>L.ss5</key>
  <string>L_.ss5.glif</string>
  <key>M.ss1</key>
  <string>M_.ss1.glif</string>
  <key>M.ss2</key>
  <string>M_.ss2.glif</string>
  <key>M.ss3</key>
  <string>M_.ss3.glif</string>
  <key>M.ss4</key>
  <string>M_.ss4.glif</string>
  <key>M.ss5</key>
  <string>M_.ss5.glif</string>
  <key>Merlin</key>
  <string>Merlin_.glif</string>
  <key>N.ss1</key>
  <string>N_.ss1.glif</string>
  <key>N.ss2</key>
  <string>N_.ss2.glif</string>
  <key>N.ss3</key>
  <string>N_.ss3.glif</string>
  <key>N.ss4</key>
  <string>N_.ss4.glif</string>
  <key>N.ss5</key>
  <string>N_.ss5.glif</string>
  <key>O.ss1</key>
  <string>O_.ss1.glif</string>
  <key>O.ss2</key>
  <string>O_.ss2.glif</string>
  <key>O.ss3</key>
  <string>O_.ss3.glif</string>
  <key>O.ss4</key>
  <string>O_.ss4.glif</string>
  <key>O.ss5</key>
  <string>O_.ss5.glif</string>
  <key>P.ss1</key>
  <string>P_.ss1.glif</string>
  <key>P.ss2</key>
  <string>P_.ss2.glif</string>
  <key>P.ss3</key>
  <string>P_.ss3.glif</string>
  <key>P.ss4</key>
  <string>P_.ss4.glif</string>
  <key>P.ss5</key>
  <string>P_.ss5.glif</string>
  <key>Q.ss1</key>
  <string>Q_.ss1.glif</string>
  <key>Q.ss2</key>
  <string>Q_.ss2.glif</string>
  <key>Q.ss3</key>
  <string>Q_.ss3.glif</string>
  <key>Q.ss4</key>
  <string>Q_.ss4.glif</string>
  <key>Q.ss5</key>
  <string>Q_.ss5.glif</string>
  <key>R.ss1</key>
  <string>R_.ss1.glif</string>
  <key>R.ss2</key>
  <string>R_.ss2.glif</string>
  <key>R.ss3</key>
  <string>R_.ss3.glif</string>
  <key>R.ss4</key>
  <string>R_.ss4.glif</string>
  <key>R.ss5</key>
  <string>R_.ss5.glif</string>
  <key>S.ss1</key>
  <string>S_.ss1.glif</string>
  <key>S.ss2</key>
  <string>S_.ss2.glif</string>
  <key>S.ss3</key>
  <string>S_.ss3.glif</string>
  <key>S.ss4</key>
  <string>S_.ss4.glif</string>
  <key>S.ss5</key>
  <string>S_.ss5.glif</string>
  <key>T.ss1</key>
  <string>T_.ss1.glif</string>
  <key>T.ss2</key>
  <string>T_.ss2.glif</string>
  <key>T.ss3</key>
  <string>T_.ss3.glif</string>
  <key>T.ss4</key>
  <string>T_.ss4.glif</string>
  <key>T.ss5</key>
  <string>T_.ss5.glif</string>
  <key>U.ss1</key>
  <string>U_.ss1.glif</string>
  <key>U.ss2</key>
  <string>U_.ss2.glif</string>
  <key>U.ss3</key>
  <string>U_.ss3.glif</string>
  <key>U.ss4</key>
  <string>U_.ss4.glif</string>
  <key>U.ss5</key>
  <string>U_.ss5.glif</string>
  <key>V.ss1</key>
  <string>V_.ss1.glif</string>
  <key>V.ss2</key>
  <string>V_.ss2.glif</string>
  <key>V.ss3</key>
  <string>V_.ss3.glif</string>
  <key>V.ss4</key>
  <string>V_.ss4.glif</string>
  <key>V.ss5</key>
  <string>V_.ss5.glif</string>
  <key>W.ss1</key>
  <string>W_.ss1.glif</string>
  <key>W.ss2</key>
  <string>W_.ss2.glif</string>
  <key>W.ss3</key>
  <string>W_.ss3.glif</string>
  <key>W.ss4</key>
  <string>W_.ss4.glif</string>
  <key>W.ss5</key>
  <string>W_.ss5.glif</string>
  <key>X.ss1</key>
  <string>X_.ss1.glif</string>
  <key>X.ss2</key>
  <string>X_.ss2.glif</string>
  <key>X.ss3</key>
  <string>X_.ss3.glif</string>
  <key>X.ss4</key>
  <string>X_.ss4.glif</string>
  <key>X.ss5</key>
  <string>X_.ss5.glif</string>
  <key>Y.ss1</key>
  <string>Y_.ss1.glif</string>
  <key>Y.ss2</key>
  <string>Y_.ss2.glif</string>
  <key>Y.ss3</key>
  <string>Y_.ss3.glif</string>
  <key>Y.ss4</key>
  <string>Y_.ss4.glif</string>
  <key>Y.ss5</key>
  <string>Y_.ss5.glif</string>
  <key>Z.ss1</key>
  <string>Z_.ss1.glif</string>
  <key>Z.ss2</key>
  <string>Z_.ss2.glif</string>
  <key>Z.ss3</key>
  <string>Z_.ss3.glif</string>
  <key>Z.ss4</key>
  <string>Z_.ss4.glif</string>
  <key>Z.ss5</key>
  <string>Z_.ss5.glif</string>
  <key>ampersand.ss1</key>
  <string>ampersand.ss1.glif</string>
  <key>ampersand.ss2</key>
  <string>ampersand.ss2.glif</string>
  <key>ampersand.ss3</key>
  <string>ampersand.ss3.glif</string>
  <key>ampersand.ss4</key>
  <string>ampersand.ss4.glif</string>
  <key>ampersand.ss5</key>
  <string>ampersand.ss5.glif</string>
  <key>at.ss1</key>
  <string>at.ss1.glif</string>
  <key>at.ss2</key>
  <string>at.ss2.glif</string>
  <key>at.ss3</key>
  <string>at.ss3.glif</string>
  <key>at.ss4</key>
  <string>at.ss4.glif</string>
  <key>at.ss5</key>
  <string>at.ss5.glif</string>
  <key>bullet.ss1</key>
  <string>bullet.ss1.glif</string>
  <key>bullet.ss2</key>
  <string>bullet.ss2.glif</string>
  <key>bullet.ss3</key>
  <string>bullet.ss3.glif</string>
  <key>bullet.ss4</key>
  <string>bullet.ss4.glif</string>
  <key>bullet.ss5</key>
  <string>bullet.ss5.glif</string>
  <key>colon.ss1</key>
  <string>colon.ss1.glif</string>
  <key>colon.ss2</key>
  <string>colon.ss2.glif</string>
  <key>colon.ss3</key>
  <string>colon.ss3.glif</string>
  <key>colon.ss4</key>
  <string>colon.ss4.glif</string>
  <key>colon.ss5</key>
  <string>colon.ss5.glif</string>
  <key>comma.ss1</key>
  <string>comma.ss1.glif</string>
  <key>comma.ss2</key>
  <string>comma.ss2.glif</string>
  <key>comma.ss3</key>
  <string>comma.ss3.glif</string>
  <key>comma.ss4</key>
  <string>comma.ss4.glif</string>
  <key>comma.ss5</key>
  <string>comma.ss5.glif</string>
  <key>eight.ss1</key>
  <string>eight.ss1.glif</string>
  <key>eight.ss2</key>
  <string>eight.ss2.glif</string>
  <key>eight.ss3</key>
  <string>eight.ss3.glif</string>
  <key>eight.ss4</key>
  <string>eight.ss4.glif</string>
  <key>eight.ss5</key>
  <string>eight.ss5.glif</string>
  <key>emdash.ss1</key>
  <string>emdash.ss1.glif</string>
  <key>emdash.ss2</key>
  <string>emdash.ss2.glif</string>
  <key>emdash.ss3</key>
  <string>emdash.ss3.glif</string>
  <key>emdash.ss4</key>
  <string>emdash.ss4.glif</string>
  <key>emdash.ss5</key>
  <string>emdash.ss5.glif</string>
  <key>endash.ss1</key>
  <string>endash.ss1.glif</string>
  <key>endash.ss2</key>
  <string>endash.ss2.glif</string>
  <key>endash.ss3</key>
  <string>endash.ss3.glif</string>
  <key>endash.ss4</key>
  <string>endash.ss4.glif</string>
  <key>endash.ss5</key>
  <string>endash.ss5.glif</string>
  <key>exclam.ss1</key>
  <string>exclam.ss1.glif</string>
  <key>exclam.ss2</key>
  <string>exclam.ss2.glif</string>
  <key>exclam.ss3</key>
  <string>exclam.ss3.glif</string>
  <key>exclam.ss4</key>
  <string>exclam.ss4.glif</string>
  <key>exclam.ss5</key>
  <string>exclam.ss5.glif</string>
  <key>five.ss1</key>
  <string>five.ss1.glif</string>
  <key>five.ss2</key>
  <string>five.ss2.glif</string>
  <key>five.ss3</key>
  <string>five.ss3.glif</string>
  <key>five.ss4</key>
  <string>five.ss4.glif</string>
  <key>five.ss5</key>
  <string>five.ss5.glif</string>
  <key>four.ss1</key>
  <string>four.ss1.glif</string>
  <key>four.ss2</key>
  <string>four.ss2.glif</string>
  <key>four.ss3</key>
  <string>four.ss3.glif</string>
  <key>four.ss4</key>
  <string>four.ss4.glif</string>
  <key>four.ss5</key>
  <string>four.ss5.glif</string>
  <key>hyphen.ss1</key>
  <string>hyphen.ss1.glif</string>
  <key>hyphen.ss2</key>
  <string>hyphen.ss2.glif</string>
  <key>hyphen.ss3</key>
  <string>hyphen.ss3.glif</string>
  <key>hyphen.ss4</key>
  <string>hyphen.ss4.glif</string>
  <key>hyphen.ss5</key>
  <string>hyphen.ss5.glif</string>
  <key>nine.ss1</key>
  <string>nine.ss1.glif</string>
  <key>nine.ss2</key>
  <string>nine.ss2.glif</string>
  <key>nine.ss3</key>
  <string>nine.ss3.glif</string>
  <key>nine.ss4</key>
  <string>nine.ss4.glif</string>
  <key>nine.ss5</key>
  <string>nine.ss5.glif</string>
  <key>one.ss1</key>
  <string>one.ss1.glif</string>
  <key>one.ss2</key>
  <string>one.ss2.glif</string>
  <key>one.ss3</key>
  <string>one.ss3.glif</string>
  <key>one.ss4</key>
  <string>one.ss4.glif</string>
  <key>one.ss5</key>
  <string>one.ss5.glif</string>
  <key>parenleft.ss1</key>
  <string>parenleft.ss1.glif</string>
  <key>parenleft.ss2</key>
  <string>parenleft.ss2.glif</string>
  <key>parenleft.ss3</key>
  <string>parenleft.ss3.glif</string>
  <key>parenleft.ss4</key>
  <string>parenleft.ss4.glif</string>
  <key>parenleft.ss5</key>
  <string>parenleft.ss5.glif</string>
  <key>parenright.ss1</key>
  <string>parenright.ss1.glif</string>
  <key>parenright.ss2</key>
  <string>parenright.ss2.glif</string>
  <key>parenright.ss3</key>
  <string>parenright.ss3.glif</string>
  <key>parenright.ss4</key>
  <string>parenright.ss4.glif</string>
  <key>parenright.ss5</key>
  <string>parenright.ss5.glif</string>
  <key>period.ss1</key>
  <string>period.ss1.glif</string>
  <key>period.ss2</key>
  <string>period.ss2.glif</string>
  <key>period.ss3</key>
  <string>period.ss3.glif</string>
  <key>period.ss4</key>
  <string>period.ss4.glif</string>
  <key>period.ss5</key>
  <string>period.ss5.glif</string>
  <key>question.ss1</key>
  <string>question.ss1.glif</string>
  <key>question.ss2</key>
  <string>question.ss2.glif</string>
  <key>question.ss3</key>
  <string>question.ss3.glif</string>
  <key>question.ss4</key>
  <string>question.ss4.glif</string>
  <key>question.ss5</key>
  <string>question.ss5.glif</string>
  <key>quoteleft.ss1</key>
  <string>quoteleft.ss1.glif</string>
  <key>quoteleft.ss2</key>
  <string>quoteleft.ss2.glif</string>
  <key>quoteleft.ss3</key>
  <string>quoteleft.ss3.glif</string>
  <key>quoteleft.ss4</key>
  <string>quoteleft.ss4.glif</string>
  <key>quoteleft.ss5</key>
  <string>quoteleft.ss5.glif</string>
  <key>quoteright.ss1</key>
  <string>quoteright.ss1.glif</string>
  <key>quoteright.ss2</key>
  <string>quoteright.ss2.glif</string>
  <key>quoteright.ss3</key>
  <string>quoteright.ss3.glif</string>
  <key>quoteright.ss4</key>
  <string>quoteright.ss4.glif</string>
  <key>quoteright.ss5</key>
  <string>quoteright.ss5.glif</string>
  <key>semicolon.ss1</key>
  <string>semicolon.ss1.glif</string>
  <key>semicolon.ss2</key>
  <string>semicolon.ss2.glif</string>
  <key>semicolon.ss3</key>
  <string>semicolon.ss3.glif</string>
  <key>semicolon.ss4</key>
  <string>semicolon.ss4.glif</string>
  <key>semicolon.ss5</key>
  <string>semicolon.ss5.glif</string>
  <key>seven.ss1</key>
  <string>seven.ss1.glif</string>
  <key>seven.ss2</key>
  <string>seven.ss2.glif</string>
  <key>seven.ss3</key>
  <string>seven.ss3.glif</string>
  <key>seven.ss4</key>
  <string>seven.ss4.glif</string>
  <key>seven.ss5</key>
  <string>seven.ss5.glif</string>
  <key>six.ss1</key>
  <string>six.ss1.glif</string>
  <key>six.ss2</key>
  <string>six.ss2.glif</string>
  <key>six.ss3</key>
  <string>six.ss3.glif</string>
  <key>six.ss4</key>
  <string>six.ss4.glif</string>
  <key>six.ss5</key>
  <string>six.ss5.glif</string>
  <key>A.ss1</key>
  <string>A_.ss1.glif</string>
  <key>three.ss1</key>
  <string>three.ss1.glif</string>
  <key>three.ss2</key>
  <string>three.ss2.glif</string>
  <key>three.ss3</key>
  <string>three.ss3.glif</string>
  <key>three.ss4</key>
  <string>three.ss4.glif</string>
  <key>three.ss5</key>
  <string>three.ss5.glif</string>
  <key>two.ss1</key>
  <string>two.ss1.glif</string>
  <key>two.ss2</key>
  <string>two.ss2.glif</string>
  <key>two.ss3</key>
  <string>two.ss3.glif</string>
  <key>two.ss4</key>
  <string>two.ss4.glif</string>
  <key>two.ss5</key>
  <string>two.ss5.glif</string>
  <key>zero.ss1</key>
  <string>zero.ss1.glif</string>
  <key>zero.ss2</key>
  <string>zero.ss2.glif</string>
  <key>zero.ss3</key>
  <string>zero.ss3.glif</string>
  <key>zero.ss4</key>
  <string>zero.ss4.glif</string>
  <key>zero.ss5</key>
  <string>zero.ss5.glif</string>
  <key>asterisk.ss1</key>
  <string>asterisk.ss1.glif</string>
  <key>asterisk.ss2</key>
  <string>asterisk.ss2.glif</string>
  <key>asterisk.ss3</key>
  <string>asterisk.ss3.glif</string>
  <key>asterisk.ss4</key>
  <string>asterisk.ss4.glif</string>
  <key>asterisk.ss5</key>
  <string>asterisk.ss5.glif</string>
  <key>bar.ss1</key>
  <string>bar.ss1.glif</string>
  <key>bar.ss2</key>
  <string>bar.ss2.glif</string>
  <key>bar.ss3</key>
  <string>bar.ss3.glif</string>
  <key>bar.ss4</key>
  <string>bar.ss4.glif</string>
  <key>bar.ss5</key>
  <string>bar.ss5.glif</string>
  <key>slash.ss1</key>
  <string>slash.ss1.glif</string>
  <key>slash.ss2</key>
  <string>slash.ss2.glif</string>
  <key>slash.ss3</key>
  <string>slash.ss3.glif</string>
  <key>slash.ss4</key>
  <string>slash.ss4.glif</string>
  <key>slash.ss5</key>
  <string>slash.ss5.glif</string>
  <key>VTF</key>
  <string>VTF___.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>z</key>
  <string>z.glif</string>
</dict>
</plist>
