<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.typemytype.robofont.guides</key>
  <array>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>984</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>2008</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>984</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>442</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>718</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>604</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-16</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>700</real>
    </dict>
  </array>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>space</string>
    <string>exclam</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bar</string>
    <string>OE</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>bullet</string>
    <string>endash</string>
    <string>emdash</string>
    <string>AE</string>
    <string>.null</string>
    <string>CR</string>
    <string>A.ss2</string>
    <string>A.ss3</string>
    <string>A.ss4</string>
    <string>A.ss5</string>
    <string>B.ss1</string>
    <string>B.ss2</string>
    <string>B.ss3</string>
    <string>B.ss4</string>
    <string>B.ss5</string>
    <string>C.ss1</string>
    <string>C.ss2</string>
    <string>C.ss3</string>
    <string>C.ss4</string>
    <string>C.ss5</string>
    <string>Corwin</string>
    <string>D.ss1</string>
    <string>D.ss2</string>
    <string>D.ss3</string>
    <string>D.ss4</string>
    <string>D.ss5</string>
    <string>E.ss1</string>
    <string>E.ss2</string>
    <string>E.ss3</string>
    <string>E.ss4</string>
    <string>E.ss5</string>
    <string>F.ss1</string>
    <string>F.ss2</string>
    <string>F.ss3</string>
    <string>F.ss4</string>
    <string>F.ss5</string>
    <string>G.ss1</string>
    <string>G.ss2</string>
    <string>G.ss3</string>
    <string>G.ss4</string>
    <string>G.ss5</string>
    <string>H.ss1</string>
    <string>H.ss2</string>
    <string>H.ss3</string>
    <string>H.ss4</string>
    <string>H.ss5</string>
    <string>I.ss1</string>
    <string>I.ss2</string>
    <string>I.ss3</string>
    <string>I.ss4</string>
    <string>I.ss5</string>
    <string>J.ss1</string>
    <string>J.ss2</string>
    <string>J.ss3</string>
    <string>J.ss4</string>
    <string>J.ss5</string>
    <string>K.ss1</string>
    <string>K.ss2</string>
    <string>K.ss3</string>
    <string>K.ss4</string>
    <string>K.ss5</string>
    <string>L.ss1</string>
    <string>L.ss2</string>
    <string>L.ss3</string>
    <string>L.ss4</string>
    <string>L.ss5</string>
    <string>M.ss1</string>
    <string>M.ss2</string>
    <string>M.ss3</string>
    <string>M.ss4</string>
    <string>M.ss5</string>
    <string>Merlin</string>
    <string>N.ss1</string>
    <string>N.ss2</string>
    <string>N.ss3</string>
    <string>N.ss4</string>
    <string>N.ss5</string>
    <string>O.ss1</string>
    <string>O.ss2</string>
    <string>O.ss3</string>
    <string>O.ss4</string>
    <string>O.ss5</string>
    <string>P.ss1</string>
    <string>P.ss2</string>
    <string>P.ss3</string>
    <string>P.ss4</string>
    <string>P.ss5</string>
    <string>Q.ss1</string>
    <string>Q.ss2</string>
    <string>Q.ss3</string>
    <string>Q.ss4</string>
    <string>Q.ss5</string>
    <string>R.ss1</string>
    <string>R.ss2</string>
    <string>R.ss3</string>
    <string>R.ss4</string>
    <string>R.ss5</string>
    <string>S.ss1</string>
    <string>S.ss2</string>
    <string>S.ss3</string>
    <string>S.ss4</string>
    <string>S.ss5</string>
    <string>T.ss1</string>
    <string>T.ss2</string>
    <string>T.ss3</string>
    <string>T.ss4</string>
    <string>T.ss5</string>
    <string>U.ss1</string>
    <string>U.ss2</string>
    <string>U.ss3</string>
    <string>U.ss4</string>
    <string>U.ss5</string>
    <string>V.ss1</string>
    <string>V.ss2</string>
    <string>V.ss3</string>
    <string>V.ss4</string>
    <string>V.ss5</string>
    <string>W.ss1</string>
    <string>W.ss2</string>
    <string>W.ss3</string>
    <string>W.ss4</string>
    <string>W.ss5</string>
    <string>X.ss1</string>
    <string>X.ss2</string>
    <string>X.ss3</string>
    <string>X.ss4</string>
    <string>X.ss5</string>
    <string>Y.ss1</string>
    <string>Y.ss2</string>
    <string>Y.ss3</string>
    <string>Y.ss4</string>
    <string>Y.ss5</string>
    <string>Z.ss1</string>
    <string>Z.ss2</string>
    <string>Z.ss3</string>
    <string>Z.ss4</string>
    <string>Z.ss5</string>
    <string>ampersand.ss1</string>
    <string>ampersand.ss2</string>
    <string>ampersand.ss3</string>
    <string>ampersand.ss4</string>
    <string>ampersand.ss5</string>
    <string>at.ss1</string>
    <string>at.ss2</string>
    <string>at.ss3</string>
    <string>at.ss4</string>
    <string>at.ss5</string>
    <string>bullet.ss1</string>
    <string>bullet.ss2</string>
    <string>bullet.ss3</string>
    <string>bullet.ss4</string>
    <string>bullet.ss5</string>
    <string>colon.ss1</string>
    <string>colon.ss2</string>
    <string>colon.ss3</string>
    <string>colon.ss4</string>
    <string>colon.ss5</string>
    <string>comma.ss1</string>
    <string>comma.ss2</string>
    <string>comma.ss3</string>
    <string>comma.ss4</string>
    <string>comma.ss5</string>
    <string>eight.ss1</string>
    <string>eight.ss2</string>
    <string>eight.ss3</string>
    <string>eight.ss4</string>
    <string>eight.ss5</string>
    <string>emdash.ss1</string>
    <string>emdash.ss2</string>
    <string>emdash.ss3</string>
    <string>emdash.ss4</string>
    <string>emdash.ss5</string>
    <string>endash.ss1</string>
    <string>endash.ss2</string>
    <string>endash.ss3</string>
    <string>endash.ss4</string>
    <string>endash.ss5</string>
    <string>exclam.ss1</string>
    <string>exclam.ss2</string>
    <string>exclam.ss3</string>
    <string>exclam.ss4</string>
    <string>exclam.ss5</string>
    <string>five.ss1</string>
    <string>five.ss2</string>
    <string>five.ss3</string>
    <string>five.ss4</string>
    <string>five.ss5</string>
    <string>four.ss1</string>
    <string>four.ss2</string>
    <string>four.ss3</string>
    <string>four.ss4</string>
    <string>four.ss5</string>
    <string>hyphen.ss1</string>
    <string>hyphen.ss2</string>
    <string>hyphen.ss3</string>
    <string>hyphen.ss4</string>
    <string>hyphen.ss5</string>
    <string>nine.ss1</string>
    <string>nine.ss2</string>
    <string>nine.ss3</string>
    <string>nine.ss4</string>
    <string>nine.ss5</string>
    <string>one.ss1</string>
    <string>one.ss2</string>
    <string>one.ss3</string>
    <string>one.ss4</string>
    <string>one.ss5</string>
    <string>parenleft.ss1</string>
    <string>parenleft.ss2</string>
    <string>parenleft.ss3</string>
    <string>parenleft.ss4</string>
    <string>parenleft.ss5</string>
    <string>parenright.ss1</string>
    <string>parenright.ss2</string>
    <string>parenright.ss3</string>
    <string>parenright.ss4</string>
    <string>parenright.ss5</string>
    <string>period.ss1</string>
    <string>period.ss2</string>
    <string>period.ss3</string>
    <string>period.ss4</string>
    <string>period.ss5</string>
    <string>question.ss1</string>
    <string>question.ss2</string>
    <string>question.ss3</string>
    <string>question.ss4</string>
    <string>question.ss5</string>
    <string>quoteleft.ss1</string>
    <string>quoteleft.ss2</string>
    <string>quoteleft.ss3</string>
    <string>quoteleft.ss4</string>
    <string>quoteleft.ss5</string>
    <string>quoteright.ss1</string>
    <string>quoteright.ss2</string>
    <string>quoteright.ss3</string>
    <string>quoteright.ss4</string>
    <string>quoteright.ss5</string>
    <string>semicolon.ss1</string>
    <string>semicolon.ss2</string>
    <string>semicolon.ss3</string>
    <string>semicolon.ss4</string>
    <string>semicolon.ss5</string>
    <string>seven.ss1</string>
    <string>seven.ss2</string>
    <string>seven.ss3</string>
    <string>seven.ss4</string>
    <string>seven.ss5</string>
    <string>six.ss1</string>
    <string>six.ss2</string>
    <string>six.ss3</string>
    <string>six.ss4</string>
    <string>six.ss5</string>
    <string>A.ss1</string>
    <string>three.ss1</string>
    <string>three.ss2</string>
    <string>three.ss3</string>
    <string>three.ss4</string>
    <string>three.ss5</string>
    <string>two.ss1</string>
    <string>two.ss2</string>
    <string>two.ss3</string>
    <string>two.ss4</string>
    <string>two.ss5</string>
    <string>zero.ss1</string>
    <string>zero.ss2</string>
    <string>zero.ss3</string>
    <string>zero.ss4</string>
    <string>zero.ss5</string>
    <string>asterisk.ss1</string>
    <string>asterisk.ss2</string>
    <string>asterisk.ss3</string>
    <string>asterisk.ss4</string>
    <string>asterisk.ss5</string>
    <string>bar.ss1</string>
    <string>bar.ss2</string>
    <string>bar.ss3</string>
    <string>bar.ss4</string>
    <string>bar.ss5</string>
    <string>slash.ss1</string>
    <string>slash.ss2</string>
    <string>slash.ss3</string>
    <string>slash.ss4</string>
    <string>slash.ss5</string>
    <string>VTF</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
  </array>
</dict>
</plist>
